[css-module="c-red"] {
  background-color: red;
}

[css-module="c-yellow"] {
  background-color: yellow;
}

[css-module="c-green"] {
  background-color: green;
}

[css-module="c-blue"] {
  background-color: blue;
}

[css-module="c-pink"] {
  background-color: pink;
}

[css-module="c-lightblue"] {
  background-color: lightblue;
}

[css-module="c-lightgreen"] {
  background-color: lightgreen;
}

[css-module="c-lightpink"] {
  background-color: lightpink;
}

[css-module="c-lightyellow"] {
  background-color: lightyellow;
}

[css-module="c-purple"] {
  background-color: purple;
}
